<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>---</title>
    <link rel="stylesheet" href="static/css/beforelogin.css">
  </head>
  <body>
    <!--<h1 class="ht">Last chance</h1>-->
    <h1><a href="/login">Enter</a> </h1>
    <h1><a href="">or</a> </h1>
    <h1 id="demo"><a href="" onclick="window.close()" class="leave">Leave</a></h1>
  <script>
  document.getElementById("demo").onclick = function() {myFunction()};
  function myFunction() {
    window.close();
  }
  </script>

  </body>
</html>
