@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
body{
  font-family: 'Noto Serif', serif;
}
.films{
  padding: 0px 130px 0px 10px;
}
.down{
  position: relative;
  background: rgba(90,90,90, 1);
}
.moviename{
  display: inline-block;
  position: absolute;
  margin: 16px 8px;
  font-size: 2vw;
}
.buttons{
  display: inline-block;
  margin: 0;
  position: absolute;
  bottom:  30px;
  left: 345px;
}
.but{
  margin: auto;
  padding: .71vw .7vw;
  outline: none;
  border: none;
  background: #B2B0B0;
  border-radius: .2vw;
  color: #fff;
  font-size: 1.165vw;
  background: #ec5252;
  color: #fff;
  margin: .3vw;
}
.catogry{
  top: 50px;
}
